$white: #FFFFFF;
$blue: #7FAFF6;
$btn-blue: #A5C7F9;
$lightBlue: #C0DBD9;
$yellow: #B3F95A;
$darckBlue: #88B5BF;
$blackBlue: #0D89B0;
$green: #8AD191;






$tablet-width: 768px;
$desktop-width: 1280px;

