.block-one {
  background-color: $yellow;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 160px;
  grid-template-rows: 198px 198px;
  gap: 15px;
  counter-reset: item;


  &__item {
    position: relative;
    background-color: $green;
    display: flex;

    &:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: -2;

    }

    &::before {
      counter-increment: item;
      content: counter(item);
      color: $white;
      font-weight: 400;
      font-size: 53px;
      line-height: 62px;
      display: block;
      text-align: center;
      margin: auto;
    }
  }
}
